
* {
   font-family: 'Nunito', sans-serif; 
    margin:0; padding:0;
    text-decoration: none ;
    outline: none; border:none;
    text-transform: capitalize;

}


html::-webkit-scrollbar{
    width:1.0rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background-color:#f9ca24;
}
body{
    background:#111;
    position:absolute;
}

.title{
    color:#fff;
    font-size:35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.top{
    position: fixed;
    bottom:50px; right: 20px;
    z-index: 999;
   
}




/* ============================================================Start Nav====================================================================== */

.CCS3{
    background-color: #303030;

}
.CSS2{
    margin-left: 100px; 

}
.CSS1
{
   margin-left: 70px; 
   font-size:large;
    color:#fff; 
    border-radius: 10px;

}
.CSS1:hover{
    background-color:#f9ca24;
}
header{
    position:fixed;
    width:100%;
    z-index: 999;

}


/* ======================================================= Start Home ================================================================ */

.marg{
    margin-top:80px;

}
h2{
    text-align: center;
    margin-top:20px;    
}

.position-div{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-top:30px;
   
}

.H{
    margin-bottom:112px;
    color: #f9ca24;
}

.user1{
    margin-bottom   : 27px;
}

.user2 img{
    margin:20px 0;
    height:350px;
    width:350px;
    border-radius:50%;
    object-fit: cover;
    border:6px solid #f9ca24;
}


.user1 h2,h3{
    text-align: center;
    font-weight:bold;
    color:#fff;
}
.user1 span{
    color:#f9ca24;
}


.btn{
    background:#333;
    color:#fff;
    border-radius: 25px;
    font-size:25PX;
    margin-left:310px;
    margin-bottom:170px;
    margin-top:40px;
    padding:5px 50px;
   
}

.btn:hover{
    background-color:#f9ca24;
    color:#111
}

@media (max-width: 320px) {
  
    .position-div {
      flex-direction:column-reverse;
    }
  
    .user1 {    
      margin-bottom: 0;
    }
    .H{
        margin-bottom:0px;
    }
    .user2 img {
      height: 200px;
      width: 200px;
    }
  
    .btn {
      margin-left:140px;
      margin-bottom:130px;
      margin-top: 20px;
      font-size:medium;
    }

  }

  @media (min-width:321px) and (max-width: 374px) {
    .position-div {
        flex-direction:column-reverse;
      }
    
      .user1 {    
        margin-bottom: 0;
      }
      .H{
          margin-bottom:0px;    
      }
      .user2 img {
        height: 200px;
        width: 200px;
      }
    
    
      .btn {
        margin-left:130px;
        margin-bottom:130px;
        margin-top: 20px;
        font-size:medium;
      }
    
    }

 @media (min-width:375px) and (max-width: 424px) {
      
        .position-div {
            flex-direction:column-reverse;
        }

        .user1 {    
            margin-bottom: 0;
          }
        .btn{
        
            margin-left:140px;
            font-size:medium;
        
        }

        .user2 img {
            height: 200px;
            width: 200px;
          }
          .H{
            margin-bottom:0px;    
        }
}
@media (min-width:425px) and (max-width: 526px) {
    
.position-div{
    flex-direction: column-reverse;
}
.user2 img {
    height: 220px;
    width: 220px;
    margin-top:0;
  }

.btn{
    
        margin-left:160px;
        font-size:large;

    }
}
@media (min-width:526px) and (max-width: 600px) {
    
    .position-div{
        flex-direction: column-reverse;
    }
    .user2 img {
        height: 220px;
        width: 220px;
        margin-top:0;
      }
    
    .btn{
        
            margin-left:180px;
            font-size:large;
    
        }
    }

@media (min-width:600px) and (max-width: 768px) {
    
    .user2 img {
        height: 240px;
        width: 240px;
        margin-top:0;
      }
    
    .btn{
        
            margin-left:160px;
            font-size:large;
    
        }
    }

    .user1 h2,h3{
        margin-top:50;
    }

@media (min-width:769px) and (max-width:900px) {

    .btn{
    
        margin-left:115px;
    
    }
}
 
@media (min-width:900px) and (max-width:1024px) {

    .btn{
    
        margin-left:170px;
    
    }
}
@media (min-width:1025px) and (max-width:1290px) {

    .btn{
    
        margin-left:250px;
    
    }
}
@media (min-width:1291px) and (max-width:1440px) {

    .btn{
    
        margin-left:310px;
    
    }
}

/* ========================================================= Start About ============================================================== */
 span{
    color:#f9ca24;
}

.position-div1{
    display: flex;
    justify-content:space-between;
    align-items: center;

    
}

.user3{
    margin-top: 20px;
}

  
.user3 .position-text{
    margin-top: 20px;
    text-align: left;
    margin-left: 40px;

}


.user4 img{
    margin-right: 25px;
    height:600px;
    width:600px;

}
.btn1{
    background:#333;
    color:#fff;
    border-radius: 25px;
    font-size:25PX;
    margin-left:600px;
    margin-bottom:170px;
    margin-top:40px;
    padding:5px 50px;
   
}
.btn1:hover{
    background-color:#f9ca24;
    color:#111
}



@media (max-width: 320px) {
    .position-div1{
        flex-direction: column-reverse;
        justify-content:center;
        align-items: center;

    }
    .position-div1 .user3 .position-text{
        font-size:medium;
        

    
    }  
    .position-div1 .user3 {
      margin-top: 10px;
      margin-left:30px;
      margin-right:30px;
    
    }  

    .user4 img{
        margin-left:5px; 
        height:375px;
        width:450px; 
        margin-right: 5px;   
    }

    .btn1{
        margin-left: 110px;
        font-size:medium;
        

    }
  }

 
  @media (min-width:321px) and (max-width: 374px) {

    .position-div1{
        flex-direction: column-reverse;
        justify-content:center;
        align-items: center;

    }
    .position-div1 .user3 .position-text{
        font-size:medium;
        

    
    }  
    .position-div1 .user3 {
      margin-top: 10px;
      margin-left:25px;
      margin-right:30px;
    
    }  

    .user4 img{
        margin-left:5px; 
        height: 350px;
        width:450px; 
        margin-right: 5px;   
    }

    .btn1{
        margin-left:120px;
        font-size:medium;
        

    }
  }

 @media (min-width:375px) and (max-width: 424px) {

    .position-div1{
        flex-direction: column-reverse;
        justify-content:center;
        align-items: center;

    }
    .position-div1 .user3 .position-text{
        font-size:17px;
        

    
    }  
    .position-div1 .user3 {
      margin-top: 10px;
      margin-left:25px;
      margin-right:30px;
    
    }  

    .user4 img{
        margin-left:5px; 
        height:300px;
        width:450px; 
        margin-right: 5px;   
    }

    .btn1{
        margin-left:110px;
        font-size:medium;
        

    }
  }

@media (min-width:425px) and (max-width: 540px) {

    .position-div1{
        flex-direction: column-reverse;
        justify-content:center;
        align-items: center;

    }
    .position-div1 .user3 .position-text{
        font-size:20px;
        

    
    }  
    .position-div1 .user3 {
      margin-top: 10px;
      margin-left:25px;
      margin-right:30px;
    
    }  

    .user4 img{
        margin-left:5px; 
        height:410px;
        width:500px; 
        margin-right: 5px;   
    }

    .btn1{
        margin-left:125px;
        font-size:large;
        

    }
  }


  @media (min-width:540px) and (max-width:769px) {

    .position-div1{
        flex-direction: column-reverse;
        justify-content:center;
        align-items: center;

    }
    .position-div1 .user3 .position-text{
        font: size 19.5px;
        

    
    }  
    .position-div1 .user3 {
      margin-top: 10px;
      margin-left:50px;
      margin-right:30px;
    
    }  

    .user4 img{
        margin-left:15px; 
        height:550px;
        width:560px; 
        margin-right: 5px;   
    }

    .btn1{
        margin-left:240px;
        font-size:large;
        

    }
  }
  
@media (min-width:769px) and (max-width:900px) {

    .position-div1{
        justify-content:space-between;
    }
    .position-div1 .user3 .position-text{
        font-size:20px;
        margin-left: 25px;
    
    }  

    .position-div1 .user3{

        margin-top: 10px;
        
    }  
    
    .position-div1 .user3 {
      margin-top: 10px;

    
    }  

    .user4 img{
        margin-left:15px; 
        height:520px;
        width:400px;   
        margin-right: 10px; 
    }

    .btn1{
        margin-left: 270px;

    }
    
}

@media (min-width:900px) and (max-width:1024px) {

    .position-div1{
        justify-content:space-around;
    }
    .position-div1 .user3 .position-text{
        font-size:21.5px;
        margin-left: 25px;
    
    }  

    .position-div1 .user3{

        margin-top: 5px;

    }  
    
    .position-div1 .user3 {
      margin-top: 10px;

    
    }   

    .user4 img{
        margin-left:15px; 
        height:525px;
        width:460px; 
        margin-right: 10px;

    }

    .btn1{
        margin-left: 350px;

    }
    
}

@media (min-width:1025px) and (max-width:1290px) {

    .position-div1{
        justify-content:space-between;
    }
    .position-div1 .user3 .position-text{
        font-size:25px;
        margin-left: 30px;
    
    }  

    .position-div1 .user3{

        margin-top: 0px;
        
    }  
    
    .position-div1 .user3 {
      margin-top: 10px;

    
    }   

    .user4 img{
        margin-left:15px; 
        height:545px;
        width:565px;    
        margin-right: 10px;

    }

    .btn1{
        margin-left: 445px;

    }
    
}


/* ========================================================= Start Education ============================================================== */
.btn2{
    background:#333;
    color:#fff;
    border-radius: 25px;
    font-size:25PX;
    margin-bottom:170px;
    margin-top:40px;
    padding:5px 50px;
   
}
.btn2:hover{
    background-color:#f9ca24;
    color:#111
}
@media (max-width: 320px) {
  
  
    .btn2 {
     
      font-size: medium;
    }

  }

  @media (min-width:321px) and (max-width: 374px) {

    .btn2{   
    
        margin-left:10px;
        font-size: medium;
    }
    
    }


 @media (min-width:375px) and (max-width: 424px) {
        .btn2{   
    
            margin-left:10px;
            font-size: medium;
        }
        
        }

 @media (min-width:425px) and (max-width: 768px) {

            .btn2{   
            
                margin-left :90px;
                font-size: large;
                margin-right :80px;
            }
        }

@media (min-width:769px) and (max-width:900px) {


    .btn2{
        margin-left:105px;
        margin-right: 100px;

    }
    
}

@media (min-width:900px) and (max-width:1024px) {

    
    .btn2{
        margin-left:105px;
        margin-right: 100px;

    }

}

@media (min-width:1025px) and (max-width:1290px) {

    .btn2{
        margin-left:105px;
        margin-right: 100px;

    }
    
}
@media (min-width:1291px) and (max-width:1440px) {

    .btn2{
        margin-left:105px;
        margin-right: 100px;

    }
    
}
/* ========================================================= Start project ============================================================== */

.card1 img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius:20px ;
}

.card1:hover {
    transform: scale(1.2);
}

.btn3{
    background:#333;
    color:#fff;
    border-radius: 25px;
    font-size:25PX;
    margin-left:660px;
    margin-bottom:170px;
    margin-top:40px;
    padding:5px 50px;
   
}
.btn3:hover{
    background-color:#f9ca24;
    color:#111
}
@media (max-width: 320px) {
  
  
    .btn3 {
      margin-left:125px;
      font-size: medium;
    }

  }

  @media (min-width:321px) and (max-width: 374px) {

    .btn3{   
    
        margin-left:120px;
        font-size: medium;
    }
    
    }

 @media (min-width:375px) and (max-width: 424px) {

    .btn3{   
    
        margin-left:130px;
        font-size: medium;
    }
    
}

@media (min-width:425px) and (max-width: 540px) {

    .btn3{   
    
        
        margin-left:150px;
        font-size: large;
        margin-right:40px;
    
    }

}
@media (min-width:540px) and (max-width: 675px) {

    .btn3{   
    
        
        margin-left:200px;
        font-size: large;
        margin-right:40px;
    
    }

}
@media (min-width:675px) and (max-width: 769px) {

    .btn3{   
    
        
        margin-left:270px;
        font-size: large;
        margin-right:40px;
    
    }

}

@media (min-width:769px) and (max-width: 901px) {

    .btn3{   
    
        
        margin-left:250px;
        /* font-size: large; */ 
        margin-right:40px;
    
    }

}

 
@media (min-width:900px) and (max-width:1024px) {

    .btn3{
    
        margin-left:350px;
    
    }
}
@media (min-width:1025px) and (max-width:1228px) {

    .btn3{
    
        margin-left:500px;
    
    }
}
@media (min-width:1228px) and (max-width:1300px) {

    .btn3{
    
        margin-left:480px;
    
    }
}
@media (min-width:1291px) and (max-width:1440px) {
    .btn3{
    
        margin-left:500px;
    
    }

}

/* * ========================================================= Start Contact ============================================================== */

.info {
    margin-left:350px ;
}

  .info a{
  font-size: 100px;
  text-decoration: none;
  margin-left:50px;  
    
  }

  .infoo:hover i{
    transform: scale(1.2);
}

@media (max-width: 320px) {
  
  
    .info{
        margin-left:10px;
        margin-right:50px;
        
    }
    .info a{
        font-size: 25px;
    }
    
    
  }


  @media (min-width:321px) and (max-width: 376px) {
  
    .info{
        margin-left:15px;
        margin-right:50px;
        
    }
    .info a{
        font-size: 25px;
    }
    
  }

  @media (min-width:376px) and (max-width: 425px) {

  
    .info{
        margin-left:20px;
        margin-right:30px;
        
    }
    .info a{
        font-size: 30px;
    }
    
}


  @media (min-width:425px) and (max-width: 631px) {

    .info{
        margin-left:20px;
        margin-right:30px;
        
    }
    .info a{
        font-size: 40px;
    }
    
}

@media (min-width:631px) and (max-width: 640px) {

    .info{
        margin-left:70px;
        /* margin-right:30px; */
        
    }
    .info a{
        font-size: 40px;
    }
    
}

@media (min-width:640px) and (max-width: 743px) {

    .info{
        margin-left:110px;
        /* margin-right:30px; */
        
    }
    .info a{
        font-size: 40px;
    }
    
}   
@media (min-width:743px) and (max-width: 769px) {

    .info{
        margin-left:120px;
        /* margin-right:30px; */
        
    }
    .info a{
        font-size: 40px;
    }
    
}   
@media (min-width:769px) and (max-width:900px) {

    .info{
        margin-left:100px;
        /* margin-right:30px; */
        
    }
    .info a{
        font-size: 75px;
    }

}   
@media (min-width:900px) and (max-width:1025px) {

    .info{
        margin-left:110px;
        /* margin-right:30px; */
        
    }
    .info a{
        font-size:100px;
    }
}
@media (min-width:1025px) and (max-width:1069px) {

    .info{
        margin-left:160px;
        /* margin-right:150px; */
    }
    }
@media (min-width:1069px) and (max-width:1440px) {
    .info{
        margin-left:255px;
        /* margin-right:150px; */
        
    }
}







/* .bg-warning {
    background-color: #FCD34D !important;
  } */


/* .user4{
    background-image: url("img/1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
} */

/* .user2 h2,h3{
    text-align: center;
    font-weight:bold;
    color:#fff;
} */

/* .btn{
    background:#333;
    color:#fff;
    border-radius: 25px;
    font-size:25PX;
    margin-left:300px;
    margin-bottom:200px;
    margin-top:40px;
    padding:5px 50px;
   
}

.btn:hover{
    background-color:#f9ca24;
    color:#111
} */


/* .home{
    background-color: #f9ca24;
    padding-bottom: 200px;
}


.user{
    display: flex;
    justify-content: space-around;
} */

